<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BannerImage" value="Default"/>
    <add key="LogoImage" value="None"/>
    <add key="EULA" value=""/>
    <add key="Require" value="MOSS"/>
    <add key="SolutionId" value="6c15412b-290c-49ac-bd38-9b0ad852973b"/>
    <add key="SolutionFile" value="C:\Program Files\NextLabs\SharePoint Enforcer\solution\Nextlabs.Entitlement.wsp"/>
    <add key="SolutionTitle" value="NextLabs Entitlement Manager for Microsoft SharePoint"/>
    <add key="SolutionVersion" value="2.0.0.0"/>
    <add key="RequireDeploymentToCentralAdminWebApplication" value="true"/>
    <add key="RequireDeploymentToAllContentWebApplications" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
