<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WorkFlowAdapter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WorkFlowAdapter.Properties.Settings>
            <setting name="WorkFlowAdapter_WSSWorkFlow_Workflow" serializeAs="String">
                <value>http://lab01-sps07/_vti_bin/workflow.asmx</value>
            </setting>
            <setting name="WorkFlowAdapter_WSSCEService_DocUpload" serializeAs="String">
                <value>http://lab01-sps07/_layouts/ceSPService.asmx</value>
            </setting>
        </WorkFlowAdapter.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
