<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <appender name="SharePointCELogAppender" type="log4net.Appender.RollingFileAppender" >
        <file value="C:\Program Files\NextLabs\SharePoint Enforcer\Logs\SharepointEnforcer.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="5MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <param name="ConversionPattern" value="[%p] [%t] [%d] [%r]  %m%n"/>
        </layout>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>     
    <logger name="SPELogger">
        <level value="WARN"/>
        <appender-ref ref="SharePointCELogAppender" />
    </logger> 
</log4net>